:root {
  --blue-background: #010a20;
  --white: #fff;
  --black: #000;
  --black-trans: rgba(0, 0, 0, 0.6);
  --text-lighten: #e0e0e0;
  --grey-reduced: #85a3b2;
  --grey: #939393;
  --light-text: rgba(21, 20, 57, 0.4);
  --light-white: rgba(255, 255, 255, 0.8);
  --paragraph-dark: #6f7787;
  --main-red: #dd2242;
  --font-family: "DM Sans", sans-serif;
  --second-family: "Roboto", sans-serif;
  --third-family: "FontAwesome", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  color: var(--txt-cl);
  background-color: var(--white-cl);
  line-height: 1.62;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 4px;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 320px;
  padding: 0 30px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1170px) {
  .container-sm {
    max-width: 1170px;
  }
  .container-lg {
    max-width: 1285px;
  }
}
/* ---------------- COMMON STYLES --------------------------- */
.section-btn {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: var(--white);
  background-color: var(--main-red);

  padding: 23px 40px;
  width: 100%;
  max-width: 314px;
  border-radius: 32px;

  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-btn:hover,
.section-btn:focus {
  background-color: #dd2241dc;
}
@media screen and (min-width: 1170px) {
  .section-btn {
    padding: 16px 24px;
    max-width: 179px;
  }
}
.section-subtitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.15;
  color: var(--white);

  margin-bottom: 20px;
}
@media screen and (min-width: 1170px) {
  .section-subtitle {
    font-size: 42px;
    line-height: 1.19048;
  }
}
.section-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.15;
  text-align: center;
  color: var(--blue-background);
}
@media screen and (min-width: 1170px) {
  .section-title {
    font-size: 50px;
    line-height: 1.5;
  }
}

/* ------------------- BACK TO TOP BTN ---------------------- */
#backToTop {
  display: inline-block;
  background-color: var(--white-cl);
  border: 1px solid var(--accent-cl);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#backToTop::after {
  content: "🔝";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#backToTop:hover {
  cursor: pointer;
  background-color: #333;
}
#backToTop:active {
  background-color: #555;
}
#backToTop.show {
  opacity: 1;
  visibility: visible;
}

/* ------------------------ REVIEWS SWIPER SLIDER ----------------- */

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: var(--text-lighten);
  border: 1px solid var(--main-red);
}
.swiper-pagination-bullet-active {
  width: 43px;
  height: 16px;
  border-radius: 60px;
  background-color: var(--main-red);
}

/* --------------------- SLIDER SWIPER -------------------------------------- */

/* ----------================= MOBILE =================--------------- */
@media screen and (max-width: 767px) {
  /* --------------------- HEADER ---------------------- */

  .header {
    padding: 45px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-logo {
    display: flex;
    align-items: flex-end;

    font-family: var(--second-family);
    font-weight: 900;
    font-size: 20px;
    line-height: 0.8;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    background: linear-gradient(180deg, #fff 45%, rgba(255, 255, 255, 0) 110%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .header-logo-svg {
    margin-right: 5px;
  }

  .logo-icon {
    width: 22px;
    height: 43px;
  }
  .header-wrap-btn {
    display: flex;
    gap: 30px;
  }
  .mob-btn-open,
  .header-btn-search {
    background-color: transparent;
    padding: 0;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--white);
  }
  /* ------------------------ MOB. MENU ---------------------------------- */
  .mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: var(--paragraph-dark);
    opacity: 0.95;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }

  .mob-menu.is-open {
    transform: translateX(0);
  }
  .mob-btn-close {
    position: absolute;
    top: 32px;
    right: 32px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: var(--pink-cl);
    border: 1px solid var(--txt-cl);
    padding: 0;
    line-height: 0;
    display: flex;

    align-items: center;
    justify-content: center;
  }

  .mob-list {
    text-align: center;
  }
  .mob-item:not(:last-child) {
    margin-bottom: 15px;
  }
  .mob-link {
    font-weight: 400;
    font-size: 14px;
    color: var(--white-cl);
    line-height: 0.9;
  }
  .mob-btn {
    background-color: transparent;
    border: 0.5px solid var(--white-cl);
    padding: 8px;
    border-radius: 5px;
    min-width: 95px;
    height: 36px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    font-weight: 400;
    font-size: 14px;
    line-height: 0.9;
    color: var(--white);
    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-list {
    display: none;
  }

  /* ---------------------- HERO ------------------------- */
  .hero {
    background-image: linear-gradient(
        193deg,
        rgba(0, 0, 0, 0.31) 0%,
        rgba(0, 0, 0, 0.29) 100%
      ),
      url(../img/hero/hero_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 1105px;
    padding-top: 153px;
    padding-bottom: 40px;
  }

  .hero-title {
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 58px;
    line-height: 1.08;
    text-transform: uppercase;
    color: var(--white);

    margin-bottom: 8px;
  }
  @media screen and (max-width: 374px) {
    .hero-title {
      font-size: 50px;
    }
  }
  .hero-title-wrap {
    margin-bottom: 54px;
  }
  .hero-btn {
    color: var(--light-white);
    padding: 16px 40px;
  }
  .hero-descr {
  }
  .hero-lang {
    display: none;
  }
  .hero-descr-list {
    border: 1px solid var(--black);
    background-color: var(--black-trans);

    padding: 35px 0;
    padding-left: 32px;
  }
  .hero-descr-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .hero-descr-num {
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--main-red);
    margin-bottom: 4px;
  }
  .hero-descr-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.56;
    color: var(--white);
    margin-bottom: 4px;
  }
  .hero-descr-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: var(--grey);
    max-width: 210px;
  }
  .hero-descr-video {
  }

  /* ------------------------ BENEFITS ------------------------------ */

  .benefits {
    padding-top: 40px;
    padding-bottom: 48px;

    width: 100%;
    height: 100%;

    background: linear-gradient(rgba(1, 10, 32, 0.97), rgba(1, 10, 32, 0.97)),
      url("../img/benefits/benefits-img-up.jpg") top center / 200% 50% no-repeat,
      url("../img/benefits/benefits-img-down.jpg") bottom center / 200% 50%
        no-repeat,
      linear-gradient(rgba(1, 10, 32, 0.97), rgba(1, 10, 32, 0.97));
  }
  .benefits-item:not(:last-child) {
    margin-bottom: 56px;
  }
  .benefits-item img {
    margin-bottom: 34px;
  }
  .benefits-wrap {
  }

  .benefits-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--text-lighten);
    margin-bottom: 33px;
  }

  /* -------------------------- SECRETS ------------------------- */

  .secrets {
    padding-top: 40px;
    height: 929px;
    background-image: url(../img/secrets/sections_bg.jpg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .secrets .container {
    padding: 0 10px;
  }

  .secrets-title {
    margin-bottom: 30px;
  }
  .secrets-list {
    /* display: flex;
    gap: 30px; */
  }
  .secrets-item {
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .secrets-item img {
    max-width: 240px;
  }
  @media screen and (min-width: 375px) {
    .secrets-item img {
      max-width: 314px;
    }
  }

  /* ------------------------ SECRETS SWIPER SLIDER ----------------- */
  .swiper {
    width: 100%;
    height: 260px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: var(--blue-background);
    top: 80px;
  }
  @media screen and (min-width: 375px) {
    .swiper-button-next,
    .swiper-button-prev {
      top: 100px;
    }
  }
  .swiper-button-prev {
    left: -8px;
  }
  .swiper-button-next {
    right: -8px;
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 20px;
    font-weight: bolder;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 70px;
  }
  @media screen and (min-width: 375px) {
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
      bottom: 20px;
    }
  }

  /* --------------------------- LINE ------------------------------ */

  /* -------------------------- REVIEWS ----------------------------------- */

  /* ------------------------- FOOTER --------------------------- */

  .footer {
    padding-top: 25px;
    padding-bottom: 60px;
    border-top: 1px solid var(--accent-cl);
  }

  .footer-info,
  .footer-products,
  .footer-docs {
    display: none;
  }
  .footer-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: var(--txt-cl);
  }

  .footer-mob {
    margin-bottom: 24px;
  }
  .footer-mob-label {
    display: block;
  }
  .footer-mob-label:not(:last-child) {
    margin-bottom: 24px;
  }
  .footer-mob-list {
    border: none;
    width: 100%;
  }
  .footer-social .footer-title {
    margin-bottom: 10px;
  }
  .footer-social-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 24px;
    max-width: 200px;
  }
}
/* ==================------------ TABLET -----------=================== */
@media screen and (min-width: 768px) {
  /* ---------------------- HEADER ---------------------------- */

  .header {
    padding: 30px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .header .container {
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 1169px) {
    .header .container {
      justify-content: space-between;
    }
  }
  .header-logo {
    display: flex;
    align-items: flex-end;

    font-family: var(--second-family);
    font-weight: 900;
    font-size: 20px;
    line-height: 0.8;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    background: linear-gradient(180deg, #fff 45%, rgba(255, 255, 255, 0) 110%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .header-logo-svg {
    margin-right: 5px;
  }

  .logo-icon {
    width: 22px;
    height: 43px;
  }

  .header-list {
    display: flex;
    gap: 60px;
  }
  .header-item {
  }
  .header-link {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--white);
    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-link:hover,
  .header-link:focus {
    color: var(--blue-background);
  }
  .header-wrap-btn {
    display: flex;
    gap: 30px;
  }
  .mob-btn-open,
  .header-btn-search {
    background-color: transparent;
    padding: 0;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--white);
  }
  .mob-btn-open svg,
  .header-btn-search svg {
    transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mob-btn-open:hover svg,
  .header-btn-search:hover svg,
  .mob-btn-open:focus svg,
  .header-btn-search:focus svg {
    fill: var(--blue-background);
  }
  /* ------------------------ MOB. MENU ---------------------------------- */
  .mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: var(--paragraph-dark);
    opacity: 0.95;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }

  .mob-menu.is-open {
    transform: translateX(0);
  }
  .mob-btn-close {
    position: absolute;
    top: 32px;
    right: 32px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: var(--pink-cl);
    border: 1px solid var(--txt-cl);
    padding: 0;
    line-height: 0;
    display: flex;

    align-items: center;
    justify-content: center;
  }

  .mob-list {
    text-align: center;
  }
  .mob-item:not(:last-child) {
    margin-bottom: 15px;
  }
  .mob-link {
    font-weight: 400;
    font-size: 14px;
    color: var(--white-cl);
    line-height: 0.9;
  }
  .mob-btn {
    background-color: transparent;
    border: 0.5px solid var(--white-cl);
    padding: 8px;
    border-radius: 5px;
    min-width: 95px;
    height: 36px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    font-weight: 400;
    font-size: 14px;
    line-height: 0.9;
    color: var(--white-cl);
    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* ---------------------- HERO ------------------------- */
  .hero {
    background-image: linear-gradient(
        193deg,
        rgba(0, 0, 0, 0.31) 0%,
        rgba(0, 0, 0, 0.29) 100%
      ),
      url(../img/hero/hero_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 945px;
    padding-top: 153px;
  }
  @media screen and (max-width: 1169) {
    .hero {
      padding-bottom: 40px;
    }
  }

  .hero-title {
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 58px;
    line-height: 1.08;
    text-transform: uppercase;
    color: var(--white);
    max-width: 314px;

    margin-bottom: 8px;
  }
  @media screen and (max-width: 1169px) {
    .hero-title-wrap {
      margin-bottom: 54px;
    }
  }

  .hero-btn {
    color: var(--light-white);
    max-width: 217px;
    padding: 15px 40px;
  }
  @media screen and (max-width: 1169px) {
    .hero-descr {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }
  .hero-lang {
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 1169px) {
    .hero-lang {
      grid-column-start: 1;
      grid-row-start: 2;
    }
  }
  .hero-lang-list {
    display: flex;
    gap: 30px;
    transform: rotate(-90deg);
  }
  .hero-lang-item {
  }
  .hero-lang-link {
    font-weight: 700;
    font-size: 16px;
    color: var(--white);

    transform: rotate(90deg);
  }
  .hero-descr-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--black);
    background-color: var(--black-trans);

    padding: 25px 0;
    padding-left: 25px;
  }
  @media screen and (max-width: 1169px) {
    .hero-descr-list {
      grid-column: span 3 / span 3;
      grid-column-start: 1;
      grid-row-start: 1;
    }
  }

  .hero-descr-num {
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--main-red);
    margin-bottom: 4px;
  }
  .hero-descr-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.56;
    color: var(--white);
    margin-bottom: 4px;
  }
  .hero-descr-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: var(--grey);
    max-width: 210px;
  }
  @media screen and (max-width: 1169px) {
    .hero-descr-video {
      grid-column: span 2 / span 2;
      grid-row-start: 2;
      margin-left: auto;
    }
  }

  /* ------------------------ BENEFITS ------------------------------ */

  .benefits {
    padding-top: 40px;
    padding-bottom: 48px;

    width: 100%;
    height: 100%;

    background: linear-gradient(rgba(1, 10, 32, 0.97), rgba(1, 10, 32, 0.97)),
      url("../img/benefits/benefits-img-up.jpg") top center / 200% 50% no-repeat,
      url("../img/benefits/benefits-img-down.jpg") bottom center / 200% 50%
        no-repeat,
      linear-gradient(rgba(1, 10, 32, 0.97), rgba(1, 10, 32, 0.97));
  }
  .benefits-item:not(:last-child) {
    margin-bottom: 56px;
  }
  .benefits-item img {
    margin-bottom: 34px;
  }
  .benefits-wrap {
  }

  .benefits-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--text-lighten);
    margin-bottom: 33px;
  }

  /* -------------------------- SECRETS ------------------------- */

  .secrets {
    padding-top: 40px;
    height: 929px;
    background-image: url(../img/secrets/sections_bg.jpg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .secrets .container {
    padding: 0 10px;
  }

  .secrets-title {
    margin-bottom: 30px;
  }

  .secrets-item {
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .secrets-item img {
    max-width: 314px;
  }

  /* ------------------------ SECRETS SWIPER SLIDER ----------------- */
  .swiper {
    width: 100%;
    height: 260px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: var(--blue-background);
    top: 100px;
  }
  .swiper-button-prev {
    left: -8px;
  }
  .swiper-button-next {
    right: -8px;
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 20px;
    font-weight: bolder;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 20px;
  }

  /* --------------------------- LINE ------------------------------ */

  /* -------------------------- REVIEWS ----------------------------------- */

  /* ------------------------- FOOTER --------------------------- */
}

/* ==============================------------ DESKTOP ----------================================== */

@media screen and (min-width: 1170px) {
  .header {
    padding: 30px 0;
  }
  .header .container {
    max-width: 1500px;
    position: relative;
  }
  .header-logo {
    position: absolute;
    font-size: 23px;
    left: -200px;
  }
  .header-list {
    margin-right: auto;
  }
  .header-link {
    font-size: 18px;
  }

  /* ---------------------- HERO ------------------------- */
  .hero {
    height: 1080px;
    padding-top: 266px;
    overflow: hidden;
  }
  .hero .container {
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
  }

  .hero-title {
    font-size: 120px;

    margin-bottom: 21px;
  }

  .hero-btn {
    font-size: 20px;
    max-width: 272px;
  }
  .hero-descr {
    display: flex;
    margin-top: auto;
  }
  .hero-lang {
    position: absolute;
    left: -150px;
    bottom: 110px;
  }

  .hero-descr-list {
    padding: 44px 0;
    padding-left: 0px;
    width: 1225px;
  }

  .hero-descr-num {
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--main-red);
    margin-bottom: 4px;
  }
  .hero-descr-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.56;
    color: var(--white);
    margin-bottom: 4px;
  }
  .hero-descr-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: var(--grey);
    max-width: 210px;
  }
  .hero-descr-video {
    position: absolute;
    bottom: 0;
    right: -170px;
  }
  .hero-descr-video img {
    max-width: 417px;
  }

  /* ------------------------ BENEFITS ------------------------------ */

  .benefits {
    padding-top: 200px;
    padding-bottom: 305px;

    background: linear-gradient(rgba(1, 10, 32, 0.97), rgba(1, 10, 32, 0.97)),
      url("../img/benefits/benefits-img-up.jpg") top center / 100% 50% no-repeat,
      url("../img/benefits/benefits-img-down.jpg") bottom center / 100% 50%
        no-repeat,
      linear-gradient(rgba(1, 10, 32, 0.97), rgba(1, 10, 32, 0.97));
  }
  .benefits .container {
    max-width: 1320px;
  }
  .benefits-item:not(:last-child) {
    margin-bottom: 192px;
  }
  .benefits-item {
    display: flex;
    align-items: center;
    gap: 130px;
  }
  .benefits-item:nth-child(2n) {
    flex-direction: row-reverse;
  }
  .benefits-item img {
    margin-bottom: 34px;
  }
  .benefits-wrap {
  }

  .benefits-descr {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    max-width: 407px;
  }
  /* -------------------------- SECRETS ------------------------- */

  .secrets {
    padding-top: 127px;
    height: 1414px;
    background-position-y: -415px;
  }
  .secrets .container {
    max-width: 1320px;
    position: relative;
  }

  .secrets-title {
    margin-bottom: 45px;
  }

  .secrets-item img {
    max-width: 405px;
  }

  /* ------------------------ SECRETS SWIPER SLIDER ----------------- */
  .swiper {
    height: 305px;
    position: unset;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 240px;
  }
  .swiper-button-prev {
    left: -70px;
  }
  .swiper-button-next {
    right: -70px;
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 30px;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0px;
  }

  /* --------------------------- LINE ------------------------------ */

  /* -------------------------- REVIEWS ----------------------------------- */

  /* ------------------------- FOOTER --------------------------- */
}
